<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Project IO</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a  class="nav-link" href="http://localhost:8080/">Home </a>
      </li>

      <li class="nav-item">
        <a  class="nav-link" href="http://localhost:8080/new"> Create a Product</a>
      </li>
            <li class="nav-item">
        <a  class="nav-link" href="http://localhost:8080/display">Products list</a>
      </li>

        
      </li>
    </ul>
  </div>
</nav>

    
    <a href="http://localhost:8080/new" class="btn btn-primary btn-sm mb-3">
    New Products
    </a>

	<div>

		<h4> Current Products</h4>

		<table>
			<thead>
				<tr>
					<th> Product name</th>

					<th> Product price</th>
					<th> Action</th>
				

				</tr>

			</thead>
			<tbody>


				

				<tr th:each="product : ${aProduct}">

					<td th:text="${product.productName}" />
					<td th:text="${product.productPrice}" />
					<td> 
					
					<a th:href="@{/update(id=${product.productid})}"
					class="btn btn-info btn-sm">
					Update
					<a th:href="@{/delete(id=${product.productid})}"
					class="btn btn-danger btn-sm">
					Delete
					</td>
					
		</table>
	</div>


</body>